{% extends './base.html' %}

{% block title %} Listado General {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{  message }} 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        
  
        </div>
    </div>
    
<div class="container">
    <div class=" col-md-1">
<table class="table table-striped table-bordered bg-white table-sm">
    <thead>
        <tr>
            <td>Cedula</td>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Telefono</td>
            <td>Email</td>
            <td>Referido por</td>
            <td>Funciones</td>
        </tr>
    </thead>
    <tbody>
        {% for contacto in contactos %}
        <tr>
            <td>{{  contacto.1 }}</td>
            <td>{{  contacto.2 }}</td>
            <td>{{  contacto.3 }}</td>
            <td>{{  contacto.4 }}</td>
            <td>{{  contacto.5 }}</td>
            <td>{{  contacto.6 }}</td>
            <td>
                <a href="/editar/{{  contacto.0 }}" class="btn btn-secondary">Editar</a>
                <a href="/eliminar/{{  contacto.0 }}" class="btn btn-danger btn-delete">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>

{% endblock %}